<div class="container mx-auto">
  <h1 class="text-4xl font-bold text-center my-8">Todo Reminder</h1>

  <!-- install button of service worker -->
  <div class="flex justify-center">
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      (click)="installApp()"
    >
      Install PWA
    </button>
  </div>
  <div class="flex justify-center">
    <input
      class="w-1/2 p-2 border border-gray-300 rounded"
      type="text"
      placeholder="Add Todo"
      [(ngModel)]="todo.text"
      (keyup.enter)="addTodo()"
    />

    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      (click)="speechToText()"
    >
      {{ speakButtonText }}
    </button>
    <mat-form-field>
      <input
        matInput
        [ngxMatDatetimePicker]="picker"
        placeholder="Choose a date and time"
        [(ngModel)]="todo.reminder"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="$any(picker)"
      ></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
    </mat-form-field>

    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      (click)="addTodo()"
    >
      Add
    </button>
  </div>

  <h2 class="text-2xl font-bold mt-8">Todos</h2>
  <ul class="mt-4">
    <li
      class="flex justify-between items-center p-2 border border-gray-300 rounded"
      *ngFor="let todo of todos; let i = index"
    >
      <span [ngClass]="{ 'line-through': todo.done }">{{ todo.text }}</span>
      <span *ngIf="todo.reminder">Time Left: {{ todo.timeLeft }}</span>
      <div class="flex gap-4">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded"
          (click)="done(i)"
        >
          Done
        </button>
      </div>
    </li>
  </ul>
  <h2 class="text-2xl font-bold mt-8">Done Todos</h2>
  <ul class="mt-4">
    <li
      class="flex justify-between items-center p-2 border border-gray-300 rounded"
      *ngFor="let doneTodo of doneTodos; let i = index"
    >
      <span [ngClass]="{ 'line-through': doneTodo.done }">{{
        doneTodo.text
      }}</span>
      <div class="flex gap-4">
        <button
          class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded"
          (click)="deleteTodo(i)"
        >
          Delete
        </button>
      </div>
    </li>
  </ul>
  <h1>notification permission status: {{ notificationPermission }}</h1>
  <h2 class="text-2xl font-bold mt-8">Expired Todos</h2>
  <ul class="mt-4">
    <li
      class="flex justify-between items-center p-2 border border-gray-300 rounded"
      *ngFor="let expiredTodo of expiredTodos; let i = index"
    >
      <span [ngClass]="{ 'line-through': expiredTodo.done }">{{
        expiredTodo.text
      }}</span>
      <div class="flex gap-4">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded"
          (click)="moveToDone(i)"
        >
          Move to Done
        </button>
        <button
          class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded"
          (click)="deleteExpired(i)"
        >
          Delete
        </button>
      </div>
    </li>
  </ul>
</div>
